*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.create{
  cursor: pointer;
}
.create-blog{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create-blog label{
  text-align: left;
  display: block;
}
.create-blog input, .create-blog textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ddd;
}
.create-blog button{
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
